body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    border-color: blue;
    border-style: dotted;
    width: 600px;
    justify-content: center;
    position: relative
}

#secondContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    position: absolute;
    top: 10%;
}

#thirdContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    position: absolute;
    top: 10%;
}

.box {
    border-style: double;
    border-color: black;
    background-color: white;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1pt;
    z-index: 10;
}

#background {
    position: absolute;
    border-style: solid;
    height: 700px;
    width: 700px;
    background-color: burlywood;
    position: absolute;
}

#startSide {
    position: relative;
    top: 80%;
    left: 5%;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
    width: 300px;
}

#finishSide {
    position: relative;
    top: 3%;
    left: 76%;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blue;
}

.void {
    visibility: hidden;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    border-style: double;
    border-color: blue;
    position: absolute;
    z-index: 15;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    
}

#mainButton {
    border-style: solid;
    width: 300px;
    text-align: center;
    background-color: black;
    color: white;
}

#instructions {
    text-align: center;
    width: 500px;
    border-style: double;
    border-color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#mainTitle {
    font-size: 56pt;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

#pipeBackground {
    opacity: 0.2;
    height: 800px;
    width: 800px;
    position: absolute;
}



.pipe1-rotation1 {
    background-image: url('elbownum1.PNG');
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
}

.pipe1-rotation2 {
    background-image: url('elbownum2.PNG');
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
}

.pipe1-rotation3 {
    background-image: url('elbownum3.PNG');
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
}   

.pipe1-rotation4 {
    background-image: url('elbownum4.PNG');
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
}


.pipe1-rotation5 {
    background-image: url('straightpipe1.PNG');
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
}

.pipe1-rotation6 {
    background-image: url('straightpipe2.PNG');
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
}



/* // EVERYTHING BELOW THIS LINE WAS TAKEN FROM A WEBSITE TO ATTACH A COOL LOOKING TIMER TO MY GAME
// NONE OF THIS CODE IS MY OWN, JUST TWEAKED A LITTLE FOR PLACEMENT/TIMING
// Credit: Mateusz Rybczonec
// https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ */



/* body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
  } */
  
  .base-timer {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 30;
    left: 40%;
    top: 66%
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }